.about-container {
    background-color: #292929;
    /* Dark background */
    color: #f1f1f1;
    /* Light text color */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2rem;
    color: #f7e66d;
    /* Yellowish color for the title */
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

footer {
    margin-top: 30px;
}

footer p {
    font-size: 0.8rem;
    color: #d3d3d3;
    /* Light grey color for the footer text */
}